/* 선택자 {속성:값; 속성:값;} */
h1 {color:red; background-color: yellow;}
p {color:blue; background-color: #eee;}
/* 선택자는 html에 작성된 모든태그를 기준으로 한다. */
h2 {color:pink; background-color: beige;}
dl {background-color: #9e9; color:red;}
dt {background-color: lightblue; color:white;}
ul {background-color: antiquewhite; color:white;}
/* CSS는 부모한테 특정 속성 적용 시 속성에따라 자식 또는 자손까지 전달되기도 한다. (상속개념) */
li {color:coral;}
ol {background-color:burlywood}
/* 태그 순서 생각하며 똑같은 선택자 또 쓰지 않기! */
header {background-color :beige; color :brown}
/* 부모가 상속시킨 color가 a에 적용되지 않는 이유? */
/* 실제론 적용됐으나 a태그에 기본적으로 내장된 파랑색이 상속된 값을 덮어서 보이지 않는다. */
h3 {background-color: yellow; color:#888;}
em {background-color: black; color:white;}
/* 태그의 인라인, 블록 유형에 따라 적용 결과가 다를 수 있다. */
/* 블록태그 h3은 배경색이 1행 전체에 적용되고 em은 인라인이라서 em이 가진 글자만큼만 적용된다. */
a {background-color:green; color:white;}
/* a태그는 블록, 인라인 모두 가능하나 css상으론 처음 a태그가 발표됐을 때의 초기모습(인라인)을 가지고 있다. (나중에 블록형태로 css도 변경가능) */
section {background-color: silver; color:darkslategray;}/* block */
h4 {background-color: skyblue; color:lightcyan;}/* block */
span {background-color: azure; color:olive;}/* inline */
/* 태그가 2개 이상 반복될때 구분하는 클래스선택자 */
.blog {background-color:yellow;}
/* 클래스선택자 연습 */
.study {background-color:green;}
.study > .first {background-color:pink; color:white;}
.study > .second {background-color:yellow; color:blue;}
/* 디자인하는 선택자에 부모가 있으면 선택자에 부모까지 포함해서 작성해야한다. */
.study > li {background-color: white; color:orange;}
/* li{} 잘못된 경우 (부모가 있는데 안적은경우) */
.study > li > del {color:pink;}
footer {background-color:orange;}
footer > address {background-color:magenta;}
footer > .copy {background-color:yellow; color:black;}
footer > p {background-color: saddlebrown;}
footer > p > span {background-color:pink; color:seagreen;}
footer > p > em {background-color: gold; color:black;}