/* inline_block.css */
body {background-color: #F5F5F5; height:200vh;}
/* vh = viewport height 약자 : 사용자가 보는 화면 상대적 높이값 */
#muji {
    width:402px;
    height:max-content;
    border:1px solid #000;
    background-color:#FFF;
}
#muji > .ad {
    background-image:url(../images/muji_ad_bg.jpg);
    background-size:150%;
    background-repeat:no-repeat;/* 배경이미지가 요소보다 작을때만 */
    background-color:aqua; /* 배경색상은 항상 배경이미지 아래로 깔림 */
    background-position:0 0; /* x y순서로 작성 */
    background-attachment:scroll;
    /* ./ 경로의미 : 현재 작성 파일 위치에서부터 경로를 시작한다. */
    /* ../ 경로 의미 : 현재 작성 위치에서 한번 위로 나가서 경로를 시작한다. */
    width:100%; 
    /* 피그마에서 w 채우기설정 시 (부모와 너비 같음) */
    /* max-content는 100%와 다름. max-content는 자식의 최대크기와 같다는 뜻 */
    height:500px; /* 피그마에서 h 고정값 직접입력 시 (px 고정) */
}
#muji > .ad > h2 {
    font-family:'pretendard' ,'Noto Sans KR';
    font-size:1.38em;
    line-height:1.4;
    letter-spacing:-0.02em;
    font-weight:600;
}
#muji > .ad > h2+p {
    line-height:1.4;
    letter-spacing:0.02em;
}
#muji > .ad > .ad_num {
    background-color:rgba(0,0,0,0.7); /* 0.7==70% */
    font-size:0.7em;
    width:60px;
    line-height:25px;
    border-radius:25px;
    color:#FFF;
    /* 수평정렬 text-align */
    text-align:center;
    /* 수직정렬 ling-height. align-items */
    /* line-height 행간(글자가 1~2줄 이상일때), (고정높이가 있는 수직 중앙 정렬) */

}
#muji > .ad > .ad_num > .current {
    font-size:0.875em;
    line-height:1;
    letter-spacing:0.02em;
    color:#FFF
}
#muji > .ad > .ad_num > .total {
    font-size:0.875em;
    line-height:1;
    letter-spacing:0.02em;
    color:#FFF
}
#muji > .menu_g {
    display:flex;
    /* flex 설정을 정렬하고 싶은 자식의 부모에게 명령하면 자식들이 옆으로 가는 효과 */
    padding:16px;
}
#muji > .menu_g > .menu {
    /* display:inline-block; */
    display:flex; align-items:center;
    width:max-content;
    margin:0 12px 0 0;/* menu와 menu 형제사이 */
    padding:6px 12px 6px 6px; /* menu(부모)와 자식(thum,h3) tkdl */
    border-radius:20px;
    border:1px solid rgba(0,0,0,0.3);
    background-color:#FFF;
    color:#333;
}
#muji > .menu_g > .menu > .thum{
    width:20px; height:20px; border-radius:10px;
    /* 피그마의 넘친 콘텐츠 숨기기(부모 안에서 자식이 벗어났을때 부모안에서만 보이기) */
    overflow:hidden;
    /* .thum클래스를 가진 p와 형제 h3가 블록태그이기 때문에 수직으로 나열됨. 그문제를 해결하기 위해 크기와 여백을 인식하고 옆으로 정렬하는 inline-block 적용 */
    display:inline-block;
    margin:0 8px 0 0;
}
#muji > .menu_g > .menu > .thum > img {width:100%;}
#muji > .menu_g > .menu > h3 {
    display:inline-block;
    font-size:0.75em;
}
/* ==============================muji_v2 연습용 */
#muji_v2 {
    width:402px;
    height:874px;
    border:1px solid #000;
    background-color:#FFF;
}
#muji_v2  > .ad {
    width:100%;
    height:500px;
    background-image:url(../images/muji_ad_bg2.jpg);
    background-size:150%;
    background-position: 50% 10%;
    background-attachment:scroll;
    background-repeat:no-repeat;
}
#muji_v2  > .ad > h2 {
    font-family:'pretendard','Noto Sans KR';
    line-height:1.4;
    letter-spacing: -0.02em;
    font-size:1.375em;
    font-weight:600;
}
/* menu_group 시작 */
#muji_v2 > .menu_group {
    width:max-content;
    padding:10px 0 10px 15px;
    display:flex;
}
#muji_v2 > .menu_group > .menu_category {
    width:max-content;
    height:max-content;
    padding:4px 15px 4px 3px;
    background-color:#F2F2F2;
    border-radius:26px;
    border:1px solid #C7C7C7;
    margin:0 12px 0 0;
    display:flex; align-items:center;
}
#muji_v2 > .menu_group > .menu_category > .thumnail {
    width:20px; height:20px;
    border-radius:20px;
    border: 1px solid #c7c7c7;
    overflow:hidden;
    display:inline-block;
    margin:0 6px 0 0;
}
#muji_v2 > .menu_group > .menu_category > .thumnail > img {
    width:100%
}
#muji_v2 > .menu_group > .menu_category > h3 {
    font-size:0.75em;
    line-height:1;
    display:inline-block;
}